<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <p>
        My name is <strong>Adrian Pietrzak</strong>.
        <br>
        I am a {{developerAge}}-year-old developer and I focus on programming graphical user interfaces and scalable web
        applications ...
    </p>

    <p>... and you are exactly the {{customerCount}} person who has the opportunity to test my software. :)</p>

    <p>
        Software development in JavaScript is my job and one of my hobbies.
        <br>
        If you see
        <a href="https://github.com/pietrzakadrian" target="_blank" style="color: #15a0dd">my profile on GitHub</a>,
        you'll find that it fills most of my time.
    </p>

    <p>
        You see, I want to be an expert at it, that's why I have a great request for you:
        <strong>write me a message</strong> about what you think about this application.
    </p>

    <p>
        I am very interested in how you personally felt the project.
        <br>
        Maybe you found some mistake I do not know
        about?
        <br>
        Maybe you have an idea for expanding this project?
        <br>
        Maybe you think you could help me with something
        or maybe <strong>we could start cooperation</strong>? ; )
    </p>

    <p>
        I give my e-mail address for you: <strong>contact@pietrzakadrian.com</strong>
    </p>

    <p>
        Thank you for agreeing to test my application. I am sending you 5,00 USD. Be sure to check your transfers and
        change currency.
    </p>

    <p>
        Yours faithfully,
        <br>
        Adrian Pietrzak
    </p>
</body>

</html>