<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <p>
        Mein Name ist <strong>Adrian Pietrzak</strong>.
        <br>
        Ich bin ein {{developerAge}}-einjähriger Entwickler und konzentriere mich auf die Programmierung grafischer
        Benutzeroberflächen und skalierbaren Webs Anwendungen ...
    </p>

    <p>
        ... und Sie sind genau die Person {{customerCount}}, die die Möglichkeit hat, meine Software zu testen. :)
    </p>

    <p>
        Softwareentwicklung in JavaScript ist mein Job und eines meiner Hobbys.
        <br>
        Wenn du siehs
        <a href="https://github.com/pietrzakadrian" target="_blank" style="color: #15a0dd">mein Profil auf GitHub</a>,
        Sie werden feststellen, dass es die meiste Zeit meiner Zeit ausfüllt.
    </p>

    <p>
        Sie sehen, ich möchte ein Experte darin sein, deshalb habe ich eine große Anfrage für Sie::
        <strong>Schreiben Sie mir eine Nachricht</strong> über Ihre Meinung zu dieser Anwendung.
    </p>

    <p>
        Ich bin sehr daran interessiert, wie Sie das Projekt persönlich empfunden haben.
        <br>
        Vielleicht haben Sie einen Fehler gefunden, den ich nicht kenne
        Über?
        <br>
        Vielleicht haben Sie eine Idee, dieses Projekt zu erweitern?
        <br>
        Vielleicht denkst du, du könntest mir bei etwas helfen
        oder vielleicht<strong>könnten wir eine Zusammenarbeit beginnen</strong>? ; )
    </p>

    <p>
        Ich gebe meine E-Mail-Adresse für Sie an: <strong>contact@pietrzakadrian.com</strong>
    </p>

    <p>
        Vielen Dank, dass Sie sich bereit erklärt haben, meine Bewerbung zu testen. Ich sende Ihnen 5,00 USD. Überprüfen
        Sie unbedingt Ihre Überweisungen und Währung ändern.
    </p>

    <p>
        Hochachtungsvoll,
        <br>
        Adrian Pietrzak
    </p>
</body>

</html>