<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <p>
        Nazywam się <strong>Adrian Pietrzak</strong>.
        <br>
        Jestem {{developerAge}}-letnim programistą i skupiam się na
        programowaniu graficznych interfejsów użytkownika oraz skalowalnych aplikacji sieciowych ...
    </p>

    <p>
        a Ty jesteś dokładnie {{customerCount}} osobą, która ma okazję przetestować mój najnowszy projekt. :)
    </p>

    <p>
        Wytwarzanie oprogramowania w JavaScript jest moją pracą oraz jednym z moich hobby.
        <br>
        Jak zobaczysz
        <a href="https://github.com/pietrzakadrian" target="_blank" style="color: #15a0dd">mój profil na GitHub</a>,
        przekonasz się, że wypełnia to większość mojego czasu.
    </p>

    <p>
        Chcę być w tym bardzo dobry, dlatego mam do Ciebie wielką prośbę:
        <strong>napisz mi wiadomość</strong> co sądzisz o tej aplikacji.
    </p>

    <p>
        Jestem bardzo zainteresowany tym, jak osobiście odczułeś ten projekt.
        <br>
        Może znalazłeś błąd, o którym nie wiem?
        <br>
        Może masz pomysł na rozwój tego projektu?
        <br>
        Może myślisz, że możesz mi w czymś pomóc, a może <strong>moglibyśmy rozpocząć współpracę</strong>? ; )
    </p>

    <p>
        Podaję mój adres e-mail <strong>contact@pietrzakadrian.com</strong>
    </p>

    <p>
        Dziękuję, że zgodziłeś się przetestować moją aplikację. Przesyłam Ci 5,00 USD. Sprawdź koniecznie swoje przelewy
        i zmianę standardowej waluty.
    </p>

    <p>
        Z wyrazami szacunku,
        <br>
        Adrian Pietrzak
    </p>
</body>

</html>